<div>
  <div>
    <app-searchform (messageEvent)="filterCityItem($event)"></app-searchform>
  </div>

<div class="page">
  <div class="listsidebar">
  <mat-spinner *ngIf="listofPlaces.length === 0"></mat-spinner>
  <mat-nav-list>
    <mat-list-item *ngFor="let place of listofPlaces">
      <div >
        <span>{{place.AddressInfo.Title}}</span>
        <br>
        <span class="smalltext hidden">{{place.AddressInfo.Latitude}}, {{place.AddressInfo.Longitude}}
          </span>
          <span> {{place.AddressInfo.Town}}</span>
      </div>
       <button mat-icon-button (click)="showOnDetails(place)"  color="accent" class="rightalign">
          details
       </button>
    </mat-list-item>
  </mat-nav-list>

  </div>

<div class="mapcontainer">
  <app-details [selectedCharger]=selectedChargerloc></app-details>
</div>

</div>

</div>
